<link rel="stylesheet" href="/assets/css/favorites.css">
<aside>
    <h4>Favorites</h4>
    {{#if burgers}}
    <ul class="favorite-list">
        {{#each burgers}}
        <li class="favorite-item">
            <figure>
                <img class="favorite-img" src={{this.src}} alt={{this.burger_name}} title={{this.src}}>
                <figcaption>
                    {{this.burger_name}}
                </figcaption>
            </figure>
        </li>
        {{/each}}
    </ul> 
    {{/if}}
</aside>
