<h1>Eat-Da-Burger</h1>
<div class="body-section">
    <div>
        {{> menu this.menu}}
        <form class="customForm">
            <label for="custom-input">Order a custom burger</label><br>
            <input type="text" id="custom-input" class="custom-input" placeholder="<BURGER NAME>"/>
            <input type="submit" class="custom-button" value="Order" />
        </form>
    </div>
    <div>
        {{> cooking this.burger}}
    </div>    
    <div>
        {{> devoured this.devoured}}
    </div>
</div>