<h1>Eat-Da-Burger</h1>
<p>Enter a burger name</p>
<div>
    <table>
        <tr>
        <th>Cooking</th><th>Devoured</th>
        </tr>
        <tr>
            <td>item 1</td><td>item 2</td>
        </tr>
    </table>
</div>