<h1>Eat-Da-Burger</h1>
<div class="body-section">
    <div>
        {{> menu this.menu}}
        <p>Order a custom burger</p>
        <input placeholder="BURGER NAME"/>
        <button>Order</button>
    </div>
    <div>
        <h2>Cooking</h2>
    </div>    
    <div>
        <h2>Devoured</h2>
    </div>
</div>